
<div class="dash-nav-menu-mobile" id="mobile-nav">
  <div class="landing-nav-menu-header"><i class="material-icons toggle-mobile-nav">close</i></div>
  <ul>
    <li><a href="register.html">Inventory</a></li>
    <li><a href="login.html">Pockets</a></li>
    <li><a href="#">Integrations</a></li>
  </ul>
  <hr/>
  <ul>
    <li><a href="#">Logout</a></li>
  </ul>
</div>
<div class="navigation">
  <div class="navigation-content">
    <div class="logo"><span>token<strong>pass</strong></span></div>
    <div class="user">
      <div class="avatar"></div><i class="material-icons">keyboard_arrow_down</i>
    </div>
    <div class="dash-nav-menu-btn"><i class="material-icons toggle-mobile-nav">dehaze</i></div>
    <ul class="menu">
      <li><a href="inventory.html">Inventory</a></li>
      <li><a href="pockets.html">Pockets</a></li>
      <li><a href="#">Integrations</a></li>
    </ul>
  </div>
</div>