doctype html
html(lang="en")
  head
    include partials/_head
  body.dashboard.inventory
    include partials/_dashnav
    section.title
      span.heading Inventory
      .search-wrapper
        input(type="text" placeholder="Search for a token...")
        .icon
          i.material-icons search
    section.tokens
      .token
        .avatar
        .primary-info
          span.quantity 1.2k
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 200
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 20
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 5
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 1.2k
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 200
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 20
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 5
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 1.2k
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 200
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 20
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 5
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 1.2k
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 200
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 20
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 5
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 1.2k
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 200
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 20
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
        .primary-info
          span.quantity 5
          span.nickname: a(href="#") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!

    include partials/_javascripts