doctype html
html(lang="en")
  head
    include partials/_head
  body.dashboard.inventory
    include partials/_dashnav
    section.title
      span.heading Inventory
      .search-wrapper
        input(type="text" placeholder="Search for a token...")
        .icon
          i.material-icons search
    section.tokens
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=1")
        .primary-info
          span.quantity 1.2k
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=2")
        .primary-info
          span.quantity 200
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=3")
        .primary-info
          span.quantity 20
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=4")
        .primary-info
          span.quantity 5
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=5")
        .primary-info
          span.quantity 1.2k
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=6")
        .primary-info
          span.quantity 200
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=7")
        .primary-info
          span.quantity 20
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=8")
        .primary-info
          span.quantity 5
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=9")
        .primary-info
          span.quantity 1.2k
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=10")
        .primary-info
          span.quantity 200
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=11")
        .primary-info
          span.quantity 20
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=12")
        .primary-info
          span.quantity 5
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=13")
        .primary-info
          span.quantity 1.2k
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=14")
        .primary-info
          span.quantity 200
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=15")
        .primary-info
          span.quantity 20
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=16")
        .primary-info
          span.quantity 5
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=17")
        .primary-info
          span.quantity 1.2k
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=18")
        .primary-info
          span.quantity 200
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=19")
        .primary-info
          span.quantity 20
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!
      .token
        .avatar
          img(src="http://lorempixel.com/25/25/?t=20")
        .primary-info
          span.quantity 5
          span.nickname: a(href="token_details.html") BITCRYSTALS

        .secondary-info
          span.expiration Expires at 12AM EST, July 17th, 2016
          span.name: a(href="#") 1 Sponsorship of the Let’s Talk Bitcoin Show!

    include partials/_javascripts