doctype html
html(lang="en")
  head
    include partials/_head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
  body.login
    .everything
      .logo token<strong>pass</strong>
      .form-wrapper
        form
          label(for="word") Word of the day
          input(name="word" type="text" value="rabbit" disabled)
          textarea(name="message" placeholder="message" rows="5")
          button.login-btn Login
      .register-subtext 
        span.
          Don't have an account? <a href="register.html">Register</a>
      .or-divider-module
        .divider div
        span.or or
        .divider div
      a.signin-with-btc-btn Sign In With Email
    
    include partials/_javascripts