doctype html
html(lang="en")
  head
    include partials/_head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
  body.login
    .everything
      .logo token<strong>pass</strong>
      .form-wrapper
        form
          span.tooltip(data-text="Login quickly and securely by signing todays Word of the Day with a previously verified address.")
            i.material-icons help_outline
          input(name="word" type="text" value="rabbit" disabled)
          
          span.tooltip(data-text="Paste your signed Word of the Day into this window, then click login.")
            i.material-icons help_outline
          textarea(name="message" placeholder="cryptographic signature" rows="5")
          
          button.login-btn Login
      .register-subtext 
        span.
          Don't have an account? <a href="register.html">Register</a>
      .or-divider-module
        .divider div
        span.or or
        .divider div
      a.signin-with-btc-btn(href="login.html") Sign In With Email
    
    include partials/_javascripts