doctype html
html(lang="en")
  head
    include partials/_head
  body.dashboard.pockets
    include partials/_dashnav
    section.title
      span.heading Pockets
      .search-wrapper
        input(type="text" placeholder="Search for a pocket...")
        .icon
          i.material-icons search
      a.new-pocket-btn(href="#") + Register Pocket
    section.pockets
      .pocket
        .active-toggle-wrapper
          .active-toggle-module(data-toggle="true")
            .module-switch
            .module-background
        .primary-info
          span.name: a(href="#") LTBcoin Compatible Address
          span.address 1JztwoasonzzoaONGSonazon3902eg

        .settings-btn
          i.material-icons settings
      .pocket
        .active-toggle-wrapper
          .active-toggle-module(data-toggle="true")
            .module-switch
            .module-background
        .primary-info
          span.name: a(href="#") LTBcoin Compatible Address
          span.address 1JztwoasonzzoaONGSonazon3902eg

        .settings-btn
          i.material-icons settings
      .pocket
        .active-toggle-wrapper
          .active-toggle-module(data-toggle="true")
            .module-switch
            .module-background
        .primary-info
          span.name: a(href="#") LTBcoin Compatible Address
          span.address 1JztwoasonzzoaONGSonazon3902eg

        .settings-btn
          i.material-icons settings
      .pocket
        .active-toggle-wrapper
          .active-toggle-module(data-toggle="false")
            .module-switch
            .module-background
        .primary-info
          span.name: a(href="#") LTBcoin Compatible Address
          span.address 1JztwoasonzzoaONGSonazon3902eg

        .settings-btn
          i.material-icons settings

    include partials/_javascripts