#mobile-nav.dash-nav-menu-mobile
  .landing-nav-menu-header
    i.material-icons.toggle-mobile-nav close
  ul
    li: a(href="register.html") Inventory
    li: a(href="login.html") Pockets
    li: a(href="#") Integrations
  hr
  ul
    li: a(href="#") Logout

.navigation
  .navigation-content
    .logo
      span token<strong>pass</strong>
    .user
      .avatar
      i.material-icons keyboard_arrow_down
    .dash-nav-menu-btn
      i.material-icons.toggle-mobile-nav dehaze
    ul.menu
      li: a(href="inventory.html") Inventory
      li: a(href="pockets.html") Pockets
      li: a(href="#") Integrations
