.navigation
  .navigation-content
    .logo
      span token<strong>pass</strong>
    .user
      .avatar
      i.material-icons keyboard_arrow_down
    ul.menu
      li: a(href="inventory.html") Inventory
      li: a(href="pockets.html") Addresses
      li: a(href="#") Integrations