$height: 80px
$gutter: $height
.landing-nav
  top: 0px
  z-index: 1000
  position: fixed
  width: 100%
  height: $height
  line-height: $height
  color: $white
  background-color: $black
  transition: all 0.2s ease
  &.pristine
    top: 20px
    background-color: transparent !important
  .landing-nav-container
    margin: 0 $gutter
  .landing-nav-menu
    float: right
    margin-top: 14px
    .btn-register
      +btn_static
      color: $white
      vertical-align: middle
      float: left
      margin-top: 2px
    .btn-login
      +btn_border_white
      vertical-align: middle
      float: left
  .logo
    color: $white
    margin: 0 !important
    font-size: 32px
    font-weight: 200
    vertical-align: middle